# view simple_view.html.erb
<h1><%%= self.class %></h1>
<h2><%%= action %></h2>
<p>request: <%%= request %></p>
<p>action: <%%= action %></p>
<p>format: <%%= format %></p>
<p>http_method: <%%= http_method %></p>
<p>qs: <%%= qs %></p>
<p>segments: <%%= segments %></p>
