name: Ruby

on:
  push:
    branches:
      - main
      - gh-*

  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        ruby: ["3.1", "3.2", "3.3", "3.4"]
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} Ruby ${{ matrix.ruby }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: "recursive"

      # - name: Ignore .tool-versions
      #   run: rm .tool-versions

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cache-version: 1

      - name: Install dependencies
        run: |
          bundle install --gemfile=gemfiles/gemfile.${{ matrix.ruby }}.rb  # Use specific gemfile
        
      - name: Run tests
        run: bundle exec liza test
